<div class="container">
  <h2>Manage Ingredient</h2>
  <app-manage-ingredient></app-manage-ingredient>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-default">Edit</button>
      <button class="btn btn-default">Delete</button>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of ingredients">
          <span class="badge">{{ ingredient.quantity }}</span>
          {{ ingredient.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
