<div class="container">
  <button class="btn btn-primary">Create</button>
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
          <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <span class="pull-right">
          <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
        </span>
      </a>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{ recipe.name }}</h2>
        </div>
      </div>
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
      <div class="row">
        <h3>Description</h3>
        <p>{{ recipe.description }}</p>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Manage Recipe
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a href="#">Edit Recipe</a>
            </li>
            <li>
              <a href="#">Delete Recipe</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Add to shopping list</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Ingredients</h3>
            <div class="list-group">
              <div class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                <span class="badge">{{ ingredient.quantity }}</span>
                {{ ingredient.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
