<div class="container">
  <app-header></app-header>

  <!-- this is how you call a attribute selector -->
  <!-- <div app-header></div> -->

  <!-- below you call the component as a class selector -->
  <!-- <div class="app-header"></div> -->
  <app-create-server (serverCreated)="serverWasCreated($event)"></app-create-server>
  <app-list-server [newServer]="newServer"></app-list-server>

  <div *ngIf="something;else showNothing">
    something
  </div>
  <ng-template #showNothing>nothing</ng-template>
</div>
