<div class="container">
  <app-header (featureSelected)="featureWasSelected($event)"></app-header>

  <!-- this is how you call a attribute selector -->
  <!-- <div app-header></div> -->

  <!-- below you call the component as a class selector -->
  <!-- <div class="app-header"></div> -->
  <app-components *ngIf="feature === 'components'"></app-components>
  <app-directives *ngIf="feature === 'directives'"></app-directives>
  <div *ngIf="something;else showNothing">
    something
  </div>
  <ng-template #showNothing>nothing</ng-template>
  <button class="btn btn-default">dummy</button>
</div>
