<div class="container">
  <app-header></app-header>

  <!-- this is how you call a attribute selector -->
  <!-- <div app-header></div> -->

  <!-- below you call the component as a class selector -->
  <!-- <div class="app-header"></div> -->
  <app-create-server (srvCreated)="serverWasCreated($event)"></app-create-server>
  <app-list-server [newSrv]="newServer">
    <p #p>
      this is a paragraph i pass extra
    </p>
  </app-list-server>

  <div *ngIf="something;else showNothing">
    something
  </div>
  <ng-template #showNothing>nothing</ng-template>
  <button class="btn btn-default">dummy</button>
</div>
